$MountainMeadowGreen: #1bbc9b;
$Roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$segoe: 'Segoe';

@font-face{
    font-family:"Segoe";
    src: url(../fonts/UI.ttf);
}

body{
    margin: 0px;
    padding: 0px;

    .container{

        font-family: $segoe;

        .number{
            display: flex;
            flex-wrap: wrap;

            h3{
                text-align: center;
                width: 100%;
            }

            input[type='number']{
                width: 50%;
                display: block;
                margin: auto;
            }
        }

        .img{

            margin: 40px 0px;
            img{
                display: block;
                margin: auto;
                width: 100%;
                max-width: 350px;
            }
        }

        .cardsImg{
            position: relative;
            top: 106px;
            margin: 10px 15px;

            p{
                font-size: 20px;
            }

            h3, p{
                text-align: center;
            }

            img{
                width: 100%;
                max-width: 280px;
                display: block;
                margin: 0 auto;
            }
        }

        .next{
            background: #45B27F;
            padding: 15px 40px;
            border-radius: 30px;
            text-decoration: none;
            color: #fff;
            float: right;
            margin: 10px 50px;
            box-shadow: 0px 1px 5px black;
        }

        .items{
            box-shadow: 0px 1px 1px rgba(0,0,0,.4);
            display: flex;
            justify-content: space-evenly;

            .envias{
                width: 50%;
                border-right: 1px solid rgba(0,0,0,.1);
                text-align: center;
            }

        } 

        .total{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .envSol{
            display: flex;
            justify-content: space-around;
            position: fixed;
            bottom: 5px;
            width: 100%;
            border-top: 1px solid rgba(0,0,0,.4);
            a{
                cursor: pointer;
                color: rgba(0,0,0,.6);
                padding: 20px;
                text-decoration: none;
                font-weight: bold;
            }
        
                
            
        }

        .item{
            display: flex;
            justify-content: space-between;
            box-shadow: 0px 1px 2px #666;
            padding: 1px 25px;

            input[type="text"]{
                padding: 20px 50px;
                width: 100%;
                border: none;
                box-shadow: 0px 1px 2px #666;
                color: rgba(0,0,0,.5);
            }

            .fas{
                    left: 20px;
                    position: absolute;
                    top: 100px;
                }
            

            .cont{
                margin:  7px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .enviar{
                    background: #ecf0f1;
                    position: absolute;
                    top: 260px;
                    right: 28px;
                    height: 70px;
                    width: 170px;
                    text-align: center;
                    padding: 25px 0;

                    a{
                        cursor: pointer;
                        text-decoration: none;
                    }
                }

                .circle{
                    border-radius: 50%;
                    background: lightskyblue;
                    height: 50px;
                    width: 50px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid rgba(0,0,0,.3);
                }

                div{
                    line-height: 5px;
                    font-size: 12px;
                }
            }
        }

        .white{
            background: #fff !important;
                 a{
                     i{
                         color: #000 !important;
                     }
                 }
                 h3{
                     color: #000 !important;
                 }
        }

        .sub-contain{
            background: #45B27F;
            color: #fff;
            padding: 10px 20px;
            box-shadow: 0px 2px 5px #666;

            a{
                i{
                    color: #fff;
                }
            }


            h3{
                width: 90%;
                display: inline-block;
                text-align: center;
            }

        }

        .saldo{
            box-shadow: 0px 2px 5px #666;
            border-radius: 5px;
            width: 80%;
            margin: 25px auto;
            padding: 5px 18px;
            line-height: 10px;
            color: rgba(0,0,0,.6);

            h2{
                font-size: 50px;
                margin: 29px -10px;
            }
        }

    .saldo  +  div{

          //  width: 300px;
           // margin: auto;
           margin: 35px 20px;
            a{
                text-align: center;
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
                color: #45B27F;
                font-weight: bold;
             
            }
        }
    }
}