body{
    display: flex;
    width: 100%;
    border: 1px solid red;
    justify-content: center;
}

div{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    justify-content: center;
    width: 100%;
    align-items: center;
}

